// Colors
$primary-color: #285fcf;
$secondary-color: #eaeaea;
$dark-background: #1a202c;
$light-text: #fff;
$dark-text: #1a202c;

// Fonts
$font-family-primary: 'Arial', sans-serif;

// Sizes
$container-max-width: 1200px;